<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> testtt</p>
    <%if(user){%>
    	<%=user.email%>
    	<a href="/logout">Sign Out with Google</a>
    <%}else{%>
    	<a href="/auth/google">Sign In with Google</a>
    <%}%>
    
  </body>
</html>